body{
font-family:"Roboto", sans-serif;
color: #434455;
background-color: #fff;
min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul, ol{
list-style:none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

p, h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}

button{
    cursor: pointer;
}


.page-container{
    min-height: 100vh;
        display: flex;
        flex-direction: column;

}
main {
    flex-grow: 1;
}
.container{
    width: 1158px;
    padding:0 15px;
    margin: 0 auto;
}

.header-container{
    display: flex;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation{
display: flex;
align-items: center;
flex-grow: 1;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

.nav-list{
    display: flex;
    gap: 40px;
}
.header-logo {
color: #2e2f42;
margin-right: auto;
}

.nav-link{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;;
}
    
.address{
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    gap: 40px;
}
.address-link{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
.hero{
background: #2e2f42;
padding: 188px 0;

}

.hero-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        max-width: 496px;
        margin-bottom: 48px;
}
.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    min-width: 169px;
     height: 56px;
    border: none;

}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF
}

.features{
padding: 120px 0 120px;
}

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
   
    
}

.features-item {
    width: calc((100% - 72px) /4);
    background: #fff;
}


.features-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
     
}

.features-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.our-team{  
    padding: 120px 0;
    background: #f4f4fd;
}

.our-team-subtitle{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-list {
display: flex;
gap: 24px;
background: #fff;

}

.team-item {
     border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    
       
}

.ot-title {
    padding: 32px 0;
}
img {
    display: block;
}
.team-image {
margin: 0 auto;

}

.team-subtitle {
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
        text-align: center;
}

.our-portfolio {
   padding-top: 120px;
   padding-bottom: 120px;

}


.our-portfolio-subtitle{
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-image {
margin: 0 auto;
}

.op-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-subtitle {
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #2e2f42;
}

.footer-container{

}

.footer-logo {
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-web {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;

}